{% extends "base.html" %}

{% block filacentral %}
    <div class="container-fluid">
        <div class="row justify-content-center">
        	<div class="col-auto">
            	<button type="button" class="btn btn-outline-light" onclick="location.href='{% url 'restaurantes' %}'">Volver al buscador</button>
        	</div>
        </div>
    </div>
    <div class="container-fluid" id="contenedor-resultado-restaurantes">
    	<div class="row justify-content-center" id=contenedor-resultado-restaurantes-interior>
        {% for item in respuesta %}
        	<div class="col-auto" id="columna-tarjetas" onclick="location.href='/restaurantes/modificarrestaurante/?id={{item.restaurant_id}}&nombre={{item.name}}&cocina={{item.cuisine}}&barrio={{item.borough}}&lat={{item.address.coord.0}}&lon={{item.address.coord.1}}'">
	            <div class="card">
	                <div class="card-body">
	    	            <h4 class="card-title">{{item.name}}</h4>
	                    <h6 class="card-subtitle mb-2 text-muted">Tipo: {{item.cuisine}}</h6>
	                    <p class="card-text">Barrio: {{item.borough}}</p>
	                </div>
	            </div>
	        </div>
        {% endfor %}
    	</div>
    </div>
    <nav id="paginador">
        <ul class="pagination justify-content-center">
            <li class="page-item" style="pointer-events:none;opacity:0.7;"><a class="page-link" href="#" onclick="paginador('{{busqueda}}','{{tipo}}',0,{{tope}});">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="paginador('{{busqueda}}','{{tipo}}',0,{{tope}});">0</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="paginador('{{busqueda}}','{{tipo}}',1,{{tope}});">1</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="paginador('{{busqueda}}','{{tipo}}',1,{{tope}});">Next</a></li>
        </ul>
    </nav>
{% endblock %}